In [1]:
import pandas as pd

In [3]:
data ={
    'Name'  : ['Alice','Bob','Charlie','David','Eve'],
    'Age' : [29,32,29,45,30],
    'City' : ['New York','San Francisco','Los Angels','chicago','Miami']
}

In [4]:
df = pd.DataFrame(data)

In [5]:
print(df)

      Name  Age           City
0    Alice   29       New York
1      Bob   32  San Francisco
2  Charlie   29     Los Angels
3    David   45        chicago
4      Eve   30          Miami