In [1]:
import pandas as pd

In [13]:
names = pd.Series(['Alice','Bob','Charlie','David','Eve'])
ages = pd.Series([29,32,29,45,30])
cities = pd.Series(['New York','San Francisco','Los Angels','chicago','Miami'])

In [15]:
data = {
    'Name'  :names,
    'Age' :ages,
    'City' :cities
}
df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   29       New York
1      Bob   32  San Francisco
2  Charlie   29     Los Angels
3    David   45        chicago
4      Eve   30          Miami